@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.AnswerListVM
@{
	ViewData["title"] = "Delete answer";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm()) 
{
	@Html.AntiForgeryToken()

	<fieldset class="border rounded shadow p-2">
		<legend class="text-center">You sure you want to delete this answer?</legend>

		<dl>
			<dt>@Html.DisplayNameFor(m => m.fk_User)</dt>
			<dd>@Html.DisplayFor(m => m.fk_User)</dd>

			<dt>@Html.DisplayNameFor(m => m.fk_Questions)</dt>
			<dd>@Html.DisplayFor(m => m.fk_Questions)</dd>

            <dt>@Html.DisplayNameFor(m => m.Answers)</dt>
			<dd>@Html.DisplayFor(m => m.Answers)</dd>

			<dt>@Html.DisplayNameFor(m => m.Id)</dt>
			<dd>@Html.DisplayFor(m => m.Id)</dd>

			<dt>@Html.DisplayNameFor(m => m.Likes)</dt>
			<dd>@Html.DisplayFor(m => m.Likes)</dd>

			<dt>@Html.DisplayNameFor(m => m.Dislikes)</dt>
			<dd>@Html.DisplayFor(m => m.Dislikes)</dd>
		</dl>

		@if( ViewData["deletionNotPermitted"] != null )
		{
			<div class="alert alert-warning text-center">
				<i class="fa-solid fa-circle-exclamation"></i> This answer cannot be deleted.
			</div>
		}
		else
		{
			<div class="container-fluid d-flex d-row justify-content-end">
				<button
					formaction="@Url.Action("DeleteConfirm", new {id = Model.Id})"
					class="btn btn-danger"
					style="white-space: nowrap;"
				><i class="fa-solid fa-trash"></i> Remove</button>
			</div>			
		}
	</fieldset>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i>Back to list</a>
	</span>
</div>
