@model IEnumerable<Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.AnswerListVM>
@{
	ViewData["title"] = "Answers";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create new answer</a>
	</span>
</div>

<div class="d-flex justify-content-center">
	<table class="entitylist table table-striped table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(Answer => Answer.fk_User)
				</th>
				<th>
					@Html.DisplayNameFor(Answer => Answer.fk_Questions)
				</th>

				<th>
					@Html.DisplayNameFor(Answer => Answer.Answers)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(Question => item.fk_User)
				</td>
				<td>
					@Html.DisplayFor(Question => item.fk_Questions)
				</td>
				<td>
					@Html.DisplayFor(Question => item.Answers)
				</td>
				<td>
					@*<a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
					<a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Remove</a>*@
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>