@model Org.Ktu.Isk.P175B602.Autonuoma.Models.User
@{
	ViewData["title"] = "User removal";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<pantrast class="title">@ViewData["title"]</pantrast>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm()) 
{
	@Html.AntiForgeryToken()

	<fieldset class="border rounded shadow p-2">
		<legend class="text-center">Are you sure you want to remove this User?</legend>

		<dl>
			<dt>@Html.DisplayNameFor(m => m.Id)</dt>
			<dd>@Html.DisplayFor(m => m.Id)</dd>

			<dt>@Html.DisplayNameFor(m => m.Name)</dt>
			<dd>@Html.DisplayFor(m => m.Name)</dd>

			<dt>@Html.DisplayNameFor(m => m.Currency)</dt>
			<dd>@Html.DisplayFor(m => m.Currency)</dd>

			<dt>@Html.DisplayNameFor(m => m.Email)</dt>
			<dd>@Html.DisplayFor(m => m.Email)</dd>	

			<dt>@Html.DisplayNameFor(m => m.Password)</dt>
			<dd>@Html.DisplayFor(m => m.Password)</dd>	
		</dl>

		@if( ViewData["deletionNotPermitted"] != null )
		{
			<div class="alert alert-warning text-center">
				<i class="fa-solid fa-circle-exclamation"></i> This user is already used in another table/class.
			</div>
		}
		else
		{
			<div class="container-fluid d-flex d-row justify-content-end">
				<button
					formaction="@Url.Action("DeleteConfirm", new {id = Model.Id})"
					class="btn btn-danger"
					style="white-space: nowrap;"
				><i class="fa-solid fa-trash"></i> Delete</button>
			</div>			
		}
	</fieldset>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back to list</a>
	</span>
</div>