@model IEnumerable<Org.Ktu.Isk.P175B602.Autonuoma.Models.User>
@{
	ViewData["title"] = "Users";
	TempData["id"] = 166;
	TempData["id1"] = 166;
	TempData["name"] = "admin";
	TempData["currency"] = 100;
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
	<pantrast class="title">@ViewData["title"]</pantrast>
	<span class="actions">
		@*<a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create new User</a>
	*@</span>
</div>
<div class="d-flex justify-content-center">
	<table class="entitylist table table-striped table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)

				</th>
				<th>
					@Html.DisplayNameFor(model => model.Currency)

				</th>
				<th>
					@Html.DisplayNameFor(model => model.Email)

				</th>
				<th>
					@Html.DisplayNameFor(model => model.Password)

				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(model => item.Name)
				</td>
				<td>
					@Html.DisplayFor(model => item.Currency)
				</td>
				<td>
					@Html.DisplayFor(model => item.Email)
				</td>
				<td>
					@Html.DisplayFor(model => item.Password)
				</td>
				<td>
					@*<a href="@Url.Action("Edit", new { id = item.Id })" style="float: right;" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a>*@
					<a href="@Url.Action("Delete", new { id = item.Id })" style="float: right;" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Remove</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>