@model Org.Ktu.Isk.P175B602.Autonuoma.Models.User

@{
	ViewData["title"] = "Login";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm())
{
	
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	
	@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
	@Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Currency)
    @Html.HiddenFor(m => m.Email)
	
	<fieldset class="border rounded shadow p-2">
		<div class="form-group">
			<div>
			@Html.LabelFor(m => m.Name, new { @class = "control-label" })
			@Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
			</div>
			<div>
			@Html.LabelFor(m => m.Password, new { @class = "control-label" })
			@Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
			</div>
		</div>
	</fieldset>
    //<input type="submit" value="Išsaugoti" class="btn btn-success" />
	//<button name="login" value="1" > Login</button>


	<input type="submit" value="Login" formaction="Login" fommethod="post"/>

    /*<span class="actions">
		<a href="@Url.Action("Login1", new { name = "dfasdfa", password = "sadfadsfa"} )" class="link-primary"><i class="fa-solid fa-angles-left"></i> Loginsadfasd</a>
	</span>*/
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="http://localhost:5000/Question" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back to list</a>
	</span>
</div>