@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.Answers
@{
	ViewData["title"] = "Question";
}


<link rel="stylesheet" href="~/css/bootswatchTheme.css" />
<div class="container-fluid d-flex justify-content-center">
	
@using (Html.BeginForm()) 
{
	
	@Html.AntiForgeryToken()
	<p> @Html.DisplayFor(Question => Model.question.fk_User)'s question</p>
	<table class="entitylist table table-striped table-hover">
			<tr>
			</tr>
			<tr>
				<td>
					<b>@Html.DisplayFor(Question => Model.question.Questions)
				</td>
			</tr>
			<tr>
				<td>
					@Html.DisplayFor(Question => Model.question.Content)
				</td>
			</tr>
	</table>
}
</div>
<a href="@Url.Action("Create", "Answer", new { q = Model.question.Questions, id = Model.question.Id })">Create new answer</a>

@if(Model.answers.Count>0){
<div>
	<table class="entitylist table table-striped table-hover">
		@foreach (var item in Model.answers) {
			<thead>
			<tr>
				<th>
					@Html.DisplayFor(Answer => item.fk_User)
				</th>
				<th>
					@Html.DisplayFor(Answer => item.Answers)
				</th>
				@*<th>
					@Html.DisplayNameFor(Question => Question.Content)
				</th>*@
				<th>
					<a href="@Url.Action("Edit", new { id = item.Id })" style="float: right;" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
				</th>
			</tr>
		</thead>
		}
	</table>
</div>
<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back to list</a>
	</span>
</div>
}
else
{
	<b>No answers yet</b>
}
