@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.QuestionsLog
@{
	ViewData["title"] = "Questions";
	TempData["id"] = Model.user.Id;
	TempData["id1"] = Model.user.Id;
	TempData["id2"] = Model.user.Id;
	TempData["name"] = Model.user.Name;
	TempData["currency"] = Model.user.Currency;
}
@*@if(Model.user.Id==0){
<body onload=' window.location="http://localhost:5000" ; '></body>
}*@
<link rel="stylesheet" href="~/css/bootswatchTheme.css" />

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
	<pantrast class="title">@ViewData["title"]</pantrast>
	@*<input type="text" placeholder="Search.." id="search">
	<input type="submit" value="Search" formaction="Search" fommethod="post"/>
	@*<button type="submit" formaction="@Url.Action("Create")">Submit</button>
	<input type="submit" value="Search" formaction="Content" fommethod="post" >*@
	<form href="@Url.Action("Search", "Question")">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"  ><img src="/images/magnifier.png" alt="search" width="20" height="auto"></button>
	  @*<input type="image" src="/images/magnifier.png" width="30" height="auto"  alt="search">*@
    </form>
	@*<div class="container-fluid d-flex d-row justify-content-end">
		<button name="Search" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Save</button>
	</div>*@
	@if(TempData["id2"]==null || Convert.ToInt32(TempData["id2"])==0){
		<a href="http://localhost:5000/User/Login" class="btn btn-outline-danger" role="button">Login to create a question</a>
	}
	else{
		<span class="actions">
			<a href="@Url.Action("Create")" class="btn btn-warning"><i class="fa-solid fa-plus"></i> Create new question</a>
		</span>
	}
</div>

@if(Model.question.Count>0){
<div class="d-flex justify-content-center">
	<table class="entitylist table table-striped table-hover">
		<thead>
			<tr>
				<th>
					User
				</th>
				<th>
					Question
				</th>
				<th>
					Likes
				</th>
				<th>
					Dislikes
				</th>
				@*<th>
					@Html.DisplayNameFor(Question => Question.Content)
				</th>*@
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.question) {
			<tr>
				<td>
					<atskls>
							@Html.DisplayFor(Question => item.fk_User)
							
					</atskls>
				</td>
				<td>
					<atskls>
							@Html.DisplayFor(Question => item.Questions)
							
					</atskls>
					
				</td>
				<td>
					<atskls>
							@Html.DisplayFor(Question => item.Likes)
							
					</atskls>
					
				</td>
				<td>
					<atskls>
							@Html.DisplayFor(Question => item.Dislikes)
							
					</atskls>
					
				</td>
				@*<td>
					@Html.DisplayFor(Question => item.Content)
				</td>*@
				<td>

					<a href="@Url.Action("Content", new { id = item.Id })" style="float: right;" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i>Show content</a>

					@*<a href="@Url.Action("Deletee", new { id = item.Id })" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Remove</a>*@
					@if(Model.user.Name==item.fk_User){
					<a href="@Url.Action("Edit", new { id = item.Id})" style="float: right;" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
					}
					@*<a href="@Url.Action("Delete", new { id = item.Id })" style="float: right;" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Remove</a>*@
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>
}
else{
	<p>There are no questions</p>
}